@import url("color.css");

input, textarea, select {
    min-height: 40px;
    outline: none !important;
    border: solid 1px var(--xlight);
    background: var(--xlight);
    border-radius: 4px;
    padding-left: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px
}

textarea::placeholder {
    color: var(--dark);
}

input[type="text"]:hover, textarea:hover, input[type="url"]:hover, input[type="number"]:hover, select:hover {
    border: 1px solid var(--grey);
}

input[type="text"]:focus, textarea:focus, input[type="url"]:focus, input[type="number"]:focus {
    border: 1px solid var(--primary);
    color: var(--xdark);
}


input[type="text"]:focus::placeholder, textarea:focus::placeholder {
    color: var(--grey);

}

select, .multiselect {
    max-height: 40px;
    font-size: 12px;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    padding-right: 40px;
    padding-left: 12px;
    background-color: var(--xlight);
    background-image: url('../icons/12x12/dark/dropdown.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 14px) center;
    background-size: 12px;
    border-radius: 4px;
    line-height: 15px;
    color: var(--dark);
}


option, .multioption{
    background: var(--white);

    box-shadow: 4px 8px 28px rgba(119, 107, 255, 0.15);
    font-size: 12px;
    line-height: 15px;
    color: var(--dark);
}

/*option[selected]{*/
/*    color:#383838 ;*/
/*}*/
textarea {
    background: var(--xlight);
    border-radius: 4px;
    padding: 8px 12px;
    resize: none;
    min-height: 70px;
}