@import url("color.css");

button {
    height: 40px;
    border-radius: 4px;
    border-color: rgba(255, 0, 0, 0);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 13px;
    cursor: pointer;
}

.primary {
    background: var(--primary);
    color: var(--white);
}

.secondary{
    background-color: var(--xlight);
    color: var(--xdark);
}

.tertiary {
    background-color: transparent;
    color: var(--xdark);
}
