@import url("font.css");
@import url("color.css");
@import url("input.css");
@import url("button.css");
@import url("text.css");
@import url("multidropdown.css");
@import url("shadow.css");
@import url("checkbox.css");
@import url("tags.css");
@import url("infoCard.css");
@import url("chips.css");
@import url("title.css");
@import url("onglet.css");
@import url("callout.css");

body {
    font-family: 'Montserrat', serif;
    background: var(--white);
    font-size: 12px;
    font-weight: 500;
    color: var(--xdark);
    margin: 16px;
}
