#zola-logo-spin {
    transform-origin: 50% 50%;
    animation: zolaspin 2.5s infinite;
    -webkit-animation: zolaspin 2.5s infinite;
    -moz-animation: zolaspin 2.5s infinite;
}

@keyframes zolaspin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* MOZILLA */
@-moz-keyframes zolaspin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    } 
}

/* WEBKIT */
@-webkit-keyframes zolaspin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}