#zola-logo-spin {
    animation-name: zolaspin;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}

@keyframes zolaspin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}