@import url('color.css');

.onglet {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0px 8px 0px;
}

.onglet-not-selected:hover {
  transform: translateY(-3px);
  transition: transform 0.2s ease-in-out;
}

.onglet-selected {
  color: var(--primary);
  cursor: inherit;
}

.onglet-selected:before {
    content: '';
    width: 100%;
    height: 3px;
    background: var(--primary);
}

.onglet-not-selected {
  color: var(--dark);
  cursor: pointer;
}
.onglet-not-selected:before {
  content: '';
}
