@import url('color.css');

:root {
  --box-shadow-offset-x-dark: 4px;
  --box-shadow-offset-y-dark: 8px;
  --box-shadow-blur-dark: 28px;

  --box-shadow-offset-x-shadow: 0px;
  --box-shadow-offset-y-shadow: 8px;
  --box-shadow-blur-shadow: 28px;

  --box-shadow-offset-x-light: 0px;
  --box-shadow-offset-y-light: 8px;
  --box-shadow-blur-light: 16px;

  --box-shadow-spread: 0;
}

.pShadowDark {
  box-shadow:
    var(--box-shadow-offset-x-dark)
    var(--box-shadow-offset-y-dark)
    var(--box-shadow-blur-dark)
    var(--box-shadow-spread)
    var(--primary-shodow-15);
}

.pShadow {
  box-shadow:
    var(--box-shadow-offset-x-shadow)
    var(--box-shadow-offset-y-shadow)
    var(--box-shadow-blur-shadow)
    var(--box-shadow-spread)
    var(--primary-shodow-10);
}

.pShadowLight {
  box-shadow:
    var(--box-shadow-offset-x-light)
    var(--box-shadow-offset-y-light)
    var(--box-shadow-blur-light)
    var(--box-shadow-spread)
    var(--primary-shodow-5);
  /* box-shadow: 0px 8px 16px 0px rgba(var(--primary), 0.05); */
}
