@import url("color.css");

:root {
  --tag-small-width: 73px;
  --tag-large-width: 93px
}

.tags-v2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  border-radius: 10px;
  gap: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

/*--------------------FILLED--------------------*/

.tags-filled-red {
  background: var(--bg-tag-red);
  border: 1px solid var(--bg-tag-red);
  color: var(--tag-red);
}
.tags-filled-red-selected {
  background: var(--tag-red);
  border: 1px solid var(--tag-red);
  color: var(--white);
}

.tags-filled-yellow {
  border: 1px solid var(--bg-tag-yellow);
  background: var(--bg-tag-yellow);
  color: var(--tag-yellow);
}
.tags-filled-yellow-selected {
  border: 1px solid var(--tag-yellow);
  background: var(--tag-yellow);
  color: var(--white);

}

.tags-filled-turquoise {
  border: 1px solid var(--bg-tag-turquoise);
  background: var(--bg-tag-turquoise);
  color: var(--tag-turquoise);
}
.tags-filled-turquoise-selected {
  border: 1px solid var(--tag-turquoise);
  background: var(--tag-turquoise);
  color: var(--white);
}
.tags-filled-blue {
  border: 1px solid var(--bg-tag-blue);
  background: var(--bg-tag-blue);
  color: var(--tag-blue);
}
.tags-filled-blue-selected {
  border: 1px solid var(--tag-blue);
  background: var(--tag-blue);
  color: var(--white);
}

.tags-filled-purple {
  border: 1px solid var(--bg-tag-purple);
  background: var(--bg-tag-purple);
  color: var(--tag-purple);
}

.tags-filled-purple-selected {
  border: 1px solid var(--tag-purple);
  background: var(--tag-purple);
  color: var(--white);
}

.tags-filled-green {
  border: 1px solid var(--bg-tag-green);
  background: var(--bg-tag-green);
  color: var(--tag-green);
}
.tags-filled-green-selected {
  border: 1px solid var(--tag-green);
  background: var(--tag-green);
  color: var(--white);
}
.tags-filled-grey {
  border: 1px solid var(--xlight);
  background: var(--xlight);
  color: var(--xdark);
}
.tags-filled-grey-selected {
  border: 1px solid var(--dark);
  background: var(--dark);
  color: var(--white);
}


/*--------------------BORDERED--------------------*/

.tags-bordered-red {
  border: 1px solid var(--tag-red);
}
.tags-bordered-yellow {
  border: 1px solid var(--tag-yellow);
}
.tags-bordered-turquoise {
  border: 1px solid var(--tag-turquoise);
}
.tags-bordered-blue {
  border: 1px solid var(--tag-blue);
}
.tags-bordered-purple {
  border: 1px solid var(--tag-purple);
}
.tags-bordered-green {
  border: 1px solid var(--tag-green);
}
.tags-bordered-grey {
  border: 1px solid var(--dark);
}
.tags-bordered-xdark {
  border: 1px solid var(--xdark);
}
