@import url("color.css");

:root {
  --tag-small-width: 73px;
  --tag-large-width: 93px
}

.tags {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  padding: 10px 16px;
  border-radius: 20px;
  gap: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

/*--------------------FILLED--------------------*/

.tags-filled-red {
  background: var(--bg-tag-red);
  border: 2px solid var(--bg-tag-red);
  color: var(--tag-red);
}
.tags-filled-red-selected {
  background: var(--tag-red);
  border: 2px solid var(--tag-red);
  color: var(--white);
}

.tags-filled-yellow {
  border: 2px solid var(--bg-tag-yellow);
  background: var(--bg-tag-yellow);
  color: var(--tag-yellow);
}
.tags-filled-yellow-selected {
  border: 2px solid var(--tag-yellow);
  background: var(--tag-yellow);
  color: var(--white);

}

.tags-filled-turquoise {
  border: 2px solid var(--bg-tag-turquoise);
  background: var(--bg-tag-turquoise);
  color: var(--tag-turquoise);
}
.tags-filled-turquoise-selected {
  border: 2px solid var(--tag-turquoise);
  background: var(--tag-turquoise);
  color: var(--white);
}
.tags-filled-blue {
  border: 2px solid var(--bg-tag-blue);
  background: var(--bg-tag-blue);
  color: var(--tag-blue);
}
.tags-filled-blue-selected {
  border: 2px solid var(--tag-blue);
  background: var(--tag-blue);
  color: var(--white);
}

.tags-filled-purple {
  border: 2px solid var(--bg-tag-purple);
  background: var(--bg-tag-purple);
  color: var(--tag-purple);
}

.tags-filled-purple-selected {
  border: 2px solid var(--tag-purple);
  background: var(--tag-purple);
  color: var(--white);
}

.tags-filled-green {
  border: 2px solid var(--bg-tag-green);
  background: var(--bg-tag-green);
  color: var(--tag-green);
}
.tags-filled-green-selected {
  border: 2px solid var(--tag-green);
  background: var(--tag-green);
  color: var(--white);
}
.tags-filled-grey {
  border: 2px solid var(--xlight);
  background: var(--xlight);
  color: var(--xdark);
}
.tags-filled-grey-selected {
  border: 2px solid var(--dark);
  background: var(--dark);
  color: var(--white);
}

.tags-filled-grey {
  border: 2px solid var(--xlight);
  background: var(--xlight);
  color: var(--xdark);
}

.tags-filled-alernative {
  background: var(--bg-tag-alernative);
  color: var(--alernative);
}

.tags-filled-warn {
  background: var(--bg-tag-warn);
  color: var(--warn);
}

.tags-filled-success {
  background: var(--bg-tag-success);
  color: var(--success);
}

.tags-filled-danger {
  background: var(--bg-tag-danger);
  color: var(--danger);
}

.tags-filled-g1 {
  background: var(--bg-tag-g1);
  color: var(--infograph-g1);
}

.tags-filled-g2 {
  background: var(--bg-tag-g2);
  color: var(--infograph-g2);
}

.tags-filled-g3 {
  background: var(--bg-tag-g3);
  color: var(--infograph-g3);
}

.tags-filled-g4 {
  background: var(--bg-tag-g4);
  color: var(--infograph-g4);
}

.tags-filled-g5 {
  background: var(--bg-tag-g5);
  color: var(--infograph-g5);
}

.tags-filled-g6 {
  background: var(--bg-tag-g6);
  color: var(--infograph-g6);
}

.tags-filled-g7 {
  background: var(--bg-tag-g7);
  color: var(--infograph-g7);
}

.tags-filled-g8 {
  background: var(--bg-tag-g8);
  color: var(--infograph-g8);
}

.tags-filled-g9 {
  background: var(--bg-tag-g9);
  color: var(--infograph-g9);
}

.tags-filled-g10 {
  background: var(--bg-tag-g10);
  color: var(--infograph-g10);
}

.tags-filled-g11 {
  background: var(--bg-tag-g11);
  color: var(--infograph-g11);
}



/*--------------------BORDERED--------------------*/

.tags-bordered-red {
  border: 2px solid var(--tag-red);
}
.tags-bordered-yellow {
  border: 2px solid var(--tag-yellow);
}
.tags-bordered-turquoise {
  border: 2px solid var(--tag-turquoise);
}
.tags-bordered-blue {
  border: 2px solid var(--tag-blue);
}
.tags-bordered-purple {
  border: 2px solid var(--tag-purple);
}
.tags-bordered-green {
  border: 2px solid var(--tag-green);
}
.tags-bordered-grey {
  border: 2px solid var(--dark);
}
