@import url("font.css");
@import url("color.css");
@import url("input.css");
@import url("button.css");
@import url("text.css");
@import url("multidropdown.css");

body {
    font-family: 'Gustavo', serif;
    background: var(--white);
    color: var(--xdark);
}

